<% include ../header.html %>
<link rel="stylesheet" href="../stylesheets/single.css">
<body class="totaltariffbody">
<!--header start-->
<header class="ui-header ui-header-stable ui-border-b myCenterHeader">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>国际总运费</h1>
</header>
<!-- header end-->

<!--body start-->
<div class="content">
<div class="totaltariffcon">
<p>
    总运费包含霹雳爸爸为您的包裹购买的<span>全额保险</span>，如发生包裹遗失，按包裹价值<span>100%</span>赔付。
</p>
</div>
</div>
<!--body end-->
<% include ../footer.html %>