<% include ../header.html %>
<link rel="stylesheet" href="../stylesheets/single.css">
<body class="totaltariffbody">
<!--header start-->
<header class="ui-header ui-header-stable ui-border-b myCenterHeader">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>国际总运费</h1>
</header>
<!-- header end-->

<!--body start-->
<div class="content">
<div class="totaltariffcon">
<p>
    根据中国相关法律法规，您需要对购买的海外购商品依法向中国海关申报及交纳关税。海外购商品需支付的关税种类为行邮税。有关行邮税的具体税率及缴纳方法，请参见《中华人民共和国关税条例》、《中华人民共和国进境物品进口税税率表》、《中华人民共和国进境物品归类表》、《中华人民共和国进境物品完税价格表》等相关规定。当您下单时，订单总额中已包含税费，该部分是霹雳爸爸向您代收的进口关税（行邮税），如实际关税和代收费用不符，我们会将多收的金额退还至您的账户，少收的部分无需您补交。
</p>
</div>
</div>
<!--body end-->
<% include ../footer.html %>