<% include header.html %>
<link rel="stylesheet" href="stylesheets/myAddress.css">


<body class="myCenterBody">
<!--header start-->
<header class="ui-header ui-header-stable ui-border-b addAddressHeader">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>修改收货地址</h1>
    <img src="../icons/threedotblack.png"/>
</header>
<!-- header end-->
<div class="content">

    <div class="ui-form-item ui-form-item-pure ui-border-b">
        <input type="text" placeholder="请输入姓名" value="欧阳XX">
        <i class="ui-icon-close"></i>
    </div>

    <div class="ui-form-item ui-form-item-pure ui-border-b addrID">320*********123</div>

    <div class="ui-form-item ui-form-item-link ui-border-b">
        <a href="#">江苏省南京市秦淮区</a>
    </div>

    <div class="ui-form-item ui-form-item-pure ui-border-b">
        <input type="text" placeholder="请输入街道地址" value="中山南路288号苏茂大厦9楼1座">
        <i class="ui-icon-close"></i>
    </div>
    <div class="ui-form-item ui-form-item-pure ui-border-b">
        <input type="tel" placeholder="请输入邮政编码" value="210000">
        <i class="ui-icon-close"></i>
    </div>
    <div class="ui-form-item ui-form-item-pure ui-border-b">
        <input type="tel" placeholder="请输入手机号码" value="15933333333">
        <i class="ui-icon-close"></i>
    </div>



    <div class="changeAddrBottomDiv">
            <div class="changeAddrDel">删除</div>
            <div class="changeAddrSave active">保存</div>
        </div>
    </div>

<script type="text/javascript">

</script>
