<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/frozen.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../javascripts/zepto.min.js"></script>
    <script src="../javascripts/frozen.js"></script>
    <script type="text/javascript" src="../javascripts/Adaptive.js"></script>
</head>