/**
 * Created by mindasiy on 2016/3/2.
 * payment css
 */
/*payment.html css*/
.pay_phone_pic{ width: 12rem;margin: 0.3rem auto; text-align: center}
.pay_phone_pic img{width: 5.72rem; height: 1.36rem}

.payment_con{ width:12rem;   margin: 0 auto;  }
